<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	version="3.1">
	<display-name>Day0604_re</display-name>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>

	<servlet>
		<servlet-name>memberServlet</servlet-name>
		<servlet-class>servlet.memberServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>postServlet</servlet-name>
		<servlet-class>servlet.postServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>commentServlet</servlet-name>
		<servlet-class>servlet.commentServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>memberServlet</servlet-name>
		<url-pattern>/selectMember</url-pattern>
		<url-pattern>/selectAllMember</url-pattern>
		<url-pattern>/insertMember</url-pattern>
		<url-pattern>/deleteMember</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>postServlet</servlet-name>
		<url-pattern>/selectPost</url-pattern>
		<url-pattern>/selectAllPost</url-pattern>
		<url-pattern>/insertPost</url-pattern>
		<url-pattern>/deletePost</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>commentServlet</servlet-name>
		<url-pattern>/selectComment</url-pattern>
		<url-pattern>/selectComment</url-pattern>
		<url-pattern>/insertComment</url-pattern>
		<url-pattern>/deleteComment</url-pattern>
	</servlet-mapping>
</web-app>